:root {
  --main: #FE4A49;
  --span: #2AB7CA;
  --header: #242331;
}

body {
  color: var(--header);
}

header {
  background-color: var(--header);
  margin: 0 0 100px 0;
  padding: 20px 90px;
}

header h1 {
  color: var(--main);
  margin-bottom: 0;
  font-size: 60px;
  font-style: italic;
}

header a {
  text-decoration: none;
}

header span {
  color: var(--span);
}

nav a {
  color: var(--main);
  font-weight: bold;
}

nav a:hover {
  color: var(--span)
}

.leaderboard-row {
  margin-bottom: 20px;
  padding: 0 30px 20px 30px;
  border-bottom: 2px solid #dbdbdb;
}

.item-container {
  width: 60%;
  margin: 0 auto;
}

.item__name {
  font-size: 25px;
}

.new-pair {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: var(--main);
  padding: 5px;
  border: 2px solid var(--header);
  border-radius: 10px;
  width: 40%;
  margin: 0 auto;
}

.new-pair:hover {
  background-color: var(--span)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nft-link {
  cursor: pointer;
  text-decoration: none;
  color: var(--main)
}

.nft-link:hover {
  color: var(--span);
}

.nft h3 {
  font-size: 17px;
}

.nft img {
  cursor: pointer;
  border: 3px solid var(--header);
}

.prog {
  height: 20px;
  width: 50%;
  background-color: var(--main);
  border: 2px solid var(--header);
  margin: 0 auto;
  position: relative;
}

.prog-likes {
  height: 16px;
  background-color: var(--span);
  position: absolute
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  display: flex;
  justify-content: center;
}

button {
  color: var(--main);
  background-color: var(--main);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  border-radius: 4px;
}

footer {
  margin-top: 100px;
}

.card-comment {
  width: 70%;
}

.card-header {
  background-color: var(--main);
  color: white;
}

.indiv-comment {
  border-bottom: 2px solid rgb(218, 214, 214);
  text-align: start;
}

.comment-date {
  font-size: 15px;
  color: rgb(128, 128, 128);
}

.create-account {
  text-decoration: none;
  font-weight: bold;
  color: var(--main);
}

.create-account:hover {
  color: var(--span);
}

.card-body button:hover {
  background-color: var(--span);
}

.list-card {
  display: flex;
  justify-content: center;
}

.eth {
  border: none !important;
  cursor: default !important;
}

.price-num {
  margin-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}